<article class="speech">
	<div class="speech-date">
		<div class="speech-month">
			<%- month %>
		</div>
		<div class="speech-day">
			<%- day %>
		</div>
	</div>
	<div class="speech-info">
		<h3 class="speech-title"><%- title %></h3>
		<p class="speech-speaker"><%- speaker %></p>
		<p class="speech-link"><a href="<%- link %>">Ver más</a></p>
	</div>
</article>