<section class="speakers">
	<h2 class="sawtooth">Ponentes</h2>
	<ul>
		<%- partial("_speaker", {
				img: 'img/Dave_Cooksey.png',
				twitter: 'http://twitter.com/',
				linkedin: 'http://linked.in/',
				name: 'Dave Cooksey',
				position: 'UX designer',
				company: 'Millicom Group'
			})
		%>
		<%- partial("_speaker", {
				img: 'img/Jorge_Arango.jpg',
				twitter: 'http://twitter.com/',
				linkedin: 'http://linked.in/',
				name: 'Jorge Arango',
				position: 'UX designer',
				company: 'Millicom Group'
			})
		%>
		<%- partial("_speaker", {
				img: 'img/Kyle_Soucy.jpg',
				twitter: 'http://twitter.com/',
				linkedin: 'http://linked.in/',
				name: 'Kyle Soucy',
				position: 'UX designer',
				company: 'Millicom Group'
			})
		%>
		<%- partial("_speaker", {
				img: 'img/Lorena_Escandon.jpg',
				twitter: 'http://twitter.com/',
				linkedin: 'http://linked.in/',
				name: 'Lorena Escandón',
				position: 'UX designer',
				company: 'Millicom Group'
			})
		%>
		<%- partial("_speaker", {
				img: 'img/Valerio_Alessio.jpg',
				twitter: 'http://twitter.com/',
				linkedin: 'http://linked.in/',
				name: 'Valerio Alessio',
				position: 'UX designer',
				company: 'Millicom Group'
			})
		%>
	</ul>
</section>