<section class="speakers">
	<div class="container">
		<h2 class="sawtooth white"><span>Ponentes</span></h2>
		<ul>
			<%- partial("_speaker", {
					img: 'img/Dave_Cooksey.png',
					twitter: 'http://twitter.com/',
					linkedin: 'http://linked.in/',
					name: 'Dave Cooksey',
					position: 'Director y Consultor en Arquitectura de Informaci칩n',
					company: 'Saturdave'
				})
			%>
			<%- partial("_speaker", {
					img: 'img/Jorge_Arango.jpg',
					twitter: 'http://twitter.com/',
					linkedin: 'http://linked.in/',
					name: 'Jorge Arango',
					position: 'Fundador y Consultor UX',
					company: 'BootStudio'
				})
			%>
			<%- partial("_speaker", {
					img: 'img/Kyle_Soucy.jpg',
					twitter: 'http://twitter.com/',
					linkedin: 'http://linked.in/',
					name: 'Kyle Soucy',
					position: 'Directora y Consultora UX',
					company: 'Usable Interface'
				})
			%>
			<%- partial("_speaker", {
					img: 'img/Lorena_Escandon.jpg',
					twitter: 'http://twitter.com/',
					linkedin: 'http://linked.in/',
					name: 'Lorena Escand칩n',
					position: 'Especialista Design Thinking',
					company: ''
				})
			%>
			<%- partial("_speaker", {
					img: 'img/Valerio_Pinna.png',
					twitter: 'http://twitter.com/',
					linkedin: 'http://linked.in/',
					name: 'Valerio Pinna',
					position: 'Dise침ador de Interacci칩n',
					company: 'Mixel Scarl'
				})
			%>
		</ul>
	</div>
</section>