<li class="speaker">
	<figure class="speaker-pic">
		<img src="<%- img %>" alt="<%- name %>" />
		<a href="<%- twitter %>" class="twitter"></a>
		<a href="<%- linkedin %>" class="linkedin"></a>
	</figure>
	<p class="speaker-name"><%- name %></p>
	<p class="speaker-position"><%- position %></p>
	<p class="speaker-company"><%- company %></p>
</li>