<section class="sponsors">
	<div class="container">
		<h2 class="sawtooth blue"><span>Nos apoyan</span></h2>
		<ul>
			<%- partial("_sponsor", {
					link: '#',
					name: 'Usaria',
					logo: 'img/logo_usaria.jpg'
				})
			%>
			<%- partial("_sponsor", {
					link: '#',
					name: 'Monoku',
					logo: 'img/logo_monoku.png'
				})
			%>
			<%- partial("_sponsor", {
					link: '#',
					name: '8manos',
					logo: 'img/logo_8manos.png'
				})
			%>
			<%- partial("_sponsor", {
					link: '#',
					name: 'Webcake',
					logo: 'img/logo_webcake.png'
				})
			%>
			<%- partial("_sponsor", {
					link: '#',
					name: 'Openweb',
					logo: 'img/logo_openweb.png'
				})
			%>
		</ul>
	</div>
</section>